@font-face {
  font-family: bodyFont;
  src: url('./fonts/CenturyGothic.ttf');
}
* {
  padding: 0;
  margin: 0;
  font-family: 'bodyFont';
}

#firstLabel,
#secondLabel {
  margin-bottom: 30%;
  margin-left: 40%;
  font-weight: bold;
  line-height: 50px;
}

@media(max-width:528px) {
  #firstLabel,
  #secondLabel {
    margin-bottom: 10%;
    font-size: 15px;
  }
}

.footer_container {
  background-color: #012e4d;
  padding: 30px;
}

.footer_container p,
h5 {
  color: white;
}

.useful_links ul li a {
  text-decoration: none;
  list-style: none;
  color: #fff;
  margin-left: -30px;
  margin-top: 8px;
}

.useful_links h5::after {
  content: '';
  display: block;
  border-bottom: 3px solid white;
  width: 30%;
  margin-top: 7px;
}

@media(max-width:460px) {
  .useful_links h5::after {
    width: 20%;
  }
}

.contact_us h5 {
  color: white;
}

.contact_us ul li {
  list-style: none;
  color: #fff;
  margin-left: -30px;
  margin-top: 8px;

}

.contact_us h5::after {
  content: '';
  display: block;
  border-bottom: 3px solid white;
  width: 20%;
  margin-top: 7px;
}

@media(max-width:460px) {
  .contact_us h5::after {
    width: 20%;
  }

  .useful_links ul li a {
    font-size: 14px;
  }

  .contact_us ul li {
    font-size: 13px;
  }

  .social_links h5 {
    font-size: 15px;
  }
}


#mainlight_name {
  text-decoration: none;
  color: #012e4d;
  margin-top: 8px;
  font-size: 17px;
}

.individual_Series img {
  width: 185px;
}

@media(max-width:460px) {
  .individual_Series img {
    width: 65px;
  }
}

.individual_products img {
  width: 180px;
}

@media(max-width:460px) {
  .individual_products img {
    width: 65px;
  }
}


@media(min-width:460px) and (max-width:575px) {
  .individual_products img {
    width: 80px;
  }
}

@media(min-width:460px) and (max-width:575px) {
  .individual_Series img {
    width: 80px;
  }
}

@media(min-width:460px) and (max-width:575px) {
  .series_title {
    font-size: 13px !important;
  }

  .series_title::before {
    content: '';
    display: block;
    border-top: 2px solid #ffb400;
    width: 75% !important;
    margin-top: 3%;
    margin-left: 13%;
    margin-bottom: 8px;
  }
}

.individual_Series a {
  text-decoration: none;
}

.individual_products a {
  text-decoration: none;
}

.series_title {
  font-size: 20px;
  color: #012e4d;
}

.product_title {
  font-size: 20px;
  color: #012e4d;
}

.series_title::before {
  content: '';
  display: block;
  border-top: 2px solid #ffb400;
  width: 99%;
  margin-top: 8px;
}

@media(max-width:460px) {
  .series_title {
    font-size: 12px;
  }

  .series_title::before {
    content: '';
    display: block;
    border-top: 2px solid #ffb400;
    width: 75%;
    margin-top: 3%;
    margin-left: 12%;
    margin-bottom: 8px;
  }

  .product_title {
    font-size: 12px;
  }

  .product_title::before {
    content: '';
    display: block;
    border-top: 2px solid #ffb400;
    width: 75%;
    margin-top: 3%;
    margin-left: 12%;
    margin-bottom: 8px;
  }
}

.individual_Series:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.individual_products a {
  text-decoration: none;
  color: #012e4d;
}

.product_title:before {
  content: '';
  display: block;
  border-top: 2px solid #ffb400;
}

.individual_products:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.product_title:hover {
  color: #012e4d;
}

.carousel_imgs img {
  height: 300px !important;
  width: 250px !important;
}

.product_desc_title {
  font-size: 22px;
}

#responsive-navbar-nav a {
  text-decoration: none !important;
  color: #000 !important;
}

#responsive-navbar-nav a{
  font-weight: bold;
  font-size: 18px !important;
}

#responsive-navbar-nav a:active{
  color: #012e4d !important;
  text-decoration: #012e4d;
}

.about_main_div {
  display: flex;
  flex-direction: column;
}

.lower_right_Second {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
}

.lower_right_Second p {
  font-size: 19px;
  font-weight: 500;
}

@media(min-width:900px) {
  .lower_right_Second p {
    padding-left: 10px;
  }
}

.who_title {
  text-align: center;
  margin-bottom: 10px;
}

.lower {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 10px;
}

.lower img {
  height: 100%;
  width: 100%;
}

.upper img {
  height: 180px !important;
  width: 100% !important;
}

.rm_button {
  border-radius: 13px;
  border: none;
  background-color: #012e4d;
  color: #fff;
  padding: 8px;
}

.rm_button a {
  text-decoration: none;
  color: #fff;
}

@media (max-width:400px) {
  .lower_right_Second p {
    font-size: 15px;
    font-weight: 500;
  }
}


@media (min-width:900px) {
  .lower {
    position: unset;
    flex-direction: row;
    gap: 0px;
    padding: 10px;
  }

  .lower_left {
    width: 50%;
  }

  .lower_right {
    width: 40%;
    position: unset;
  }

  .lower_right_Second {
    position: unset;
  }

}

@media (min-width:901px) {
  .lower_right {
    margin-top: 80px;
    position: relative;
  }

  .lower_right_Second {
    position: absolute;
    right: 10px;
    background-color: #fff;
  }
}

.navBar {
  margin-bottom: 100px;
}

@media(min-width:900px) {
  .lower_right_Second {
    height: 50%;
  }
}

@media (min-width:900px) and (max-width:1600px) {
  .lower_right_Second {
    height: 60%;
  }

  .lower_left img {
    margin-left: 100px;
    width: 90%;
  }

  .lower_right_Second p {

    font-size: 19px;
    padding: 10px;
  }

}

@media (min-width:900px) and (max-width:1210px) {

  .lower_right_Second p {
    font-size: 16px;
  }

  .rm_button {
    position: absolute;
    bottom: 4px;
    right: 4px;
  }

}

.slider_row {
  /* display: flex;
  gap: 10px; */
  border: 2px solid #e7e8ea;
  padding: 30px;
  border-radius: 10px;
}

.slider_imgs div {
  display: flex;
  gap: 10px;
}

.featured_product_title {
  color: #012e4d;
  font-size: 30px;
  margin-bottom: 40px;
}

.gallery_title {
  text-align: center;
  color: #012e4d;
  font-size: 30px;
  margin-bottom: 40px;
}

#view_all_btn {
  margin-top: 50px;
  border: none;
  padding: 8px;
  color: #fff;
  background-color: #012e4d;
  width: 100px;
  font-size: 16px;
}

#view_all_btn a {
  text-decoration: none;
  color: #fff;
}

.gallery_container {
  margin-top: 120px !important;
  margin-bottom: 100px;
}

.gallery_container {
  background-image: url('./images//upper_banner.png');
  background-repeat: no-repeat;

  background-size: 99% 400px;
  /* w h*/

}

.image_gallery {
  display: grid;
  grid-template-columns: auto auto;
  gap: 13px;
}

.image_gallery img {
  width: 100%;
}

.image_gallery div {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 15px;
  padding: 0 8px 8px 8px;
}

@media (min-width:900px) {
  .image_gallery {
    grid-template-columns: auto auto auto;
  }
}

.galleryImage {
  width: 100%;
}

.gallery_container {
  margin-bottom: 50px;
}

#see_more_btn {
  margin-top: 40px;
  border: none;
  color: #fff;
  background-color: #012e4d;
  padding: 8px;
}

.testimonial_container {
  margin-top: 80px;
  margin-bottom: 70px;
}

.testimonial_title {
  text-align: center;
  color: #012e4d;
  margin-bottom: 50px;
}

.testimonials_words {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 22px;
  height: 100% !important;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.testimonial_slider div {
  display: flex;
  gap: 25px;
}

.testimonials_words h5 {
  margin-top: 57px;
  margin-right: 25px;
  color: #000;
}

.about_col {
  position: relative;
}


.about_banner_background {
  position: relative;
}

.about_banner_background img {
  height: 160px !important;
  width: 100% !important;
}

@media(max-width:430px) {
  .about_banner_background img {
    height: 120px !important;
    width: 100% !important;
  }
}

.about_first_title,
.about_first_title1 {
  position: absolute;
  font-size: 37px;
  color: #012e4d;
  top: 35%;
  left: 45%;
}

@media(max-width:535px) {
  .about_first_title {
    top: 36%;
    left: 38%;
    font-size: 28px;
  }
}

@media (min-width:375px) and (max-width:535px) {
  .about_first_title {
    left: 40%;
    font-size: 24px;
  }
}

@media(min-width:535px) and (max-width:700px) {
  .about_first_title {
    top: 36%;
    left: 44%;
    font-size: 28px;
  }


  .about_first_title1 {
    left: 32%;
    font-size: 27px;
  }
}

.about_lower_content p {
  font-size: 18px;
}

@media (min-width:375px) and (max-width:535px) {
  .about_lower_content p {
    font-size: 16px;
  }
}

@media(max-width:535px) {
  .about_first_title1 {
    top: 36%;
    left: 25%;
    font-size: 28px;
  }
}

@media (min-width:375px) and (max-width:535px) {
  .about_first_title1 {
    top: 36%;
    left: 30%;
    font-size: 24px
  }

}

@media(min-width:535px) and (max-width:700px) {
  .about_first_title1 {
    left: 40%;
    font-size: 28px;
  }
}

.mainLight_banner {
  position: relative;
}

.mainLight_title {
  position: absolute;
  color: #fff;
  bottom: 45%;
  left: 36%;
  font-size: 45px;
}

@media(min-width:320px) and (max-width:425px) {
  .mainLight_title {
    font-size: 18px;
    left: 34%;
    top: 38%;
  }
}

@media(min-width:425px) and (max-width:645px) {
  .mainLight_title {
    font-size: 27px;
    left: 32%;
    top: 37%;
  }
}

@media(min-width:645px) and (max-width:900px) {
  .mainLight_title {
    font-size: 35px;
    left: 35%;
    top: 43%;
  }
}

/* ************* Footer CSS **************** */
@media(max-width:460px) {
  .footer_logo img {
    height: 52px;
    width: 90px;
  }

  .footer_container p {
    color: white;
    font-size: 13px;
    margin-top: 10px;
    width: 95%;
  }

  .useful_links h5,
  .contact_us h5 {
    font-size: 15px;
  }
}

@media(min-width:460px) and (max-width:575px) {
  .footer_logo img {
    height: 52px;
    width: 95px;
  }

  .footer_container p {
    color: white;
    font-size: 14px;
    margin-top: 10px;
    width: 85%;
  }

  .useful_links h5,
  .contact_us h5 {
    font-size: 17px;
  }

  .useful_links ul li a {
    font-size: 14px;
  }

  .useful_links h5::after {
    width: 18%;
  }

  .contact_us ul li {
    font-size: 14px;
  }

  .social_links h5 {
    font-size: 17px;
  }

}

/* ***************** Header Logo**************** */
@media(max-width:575px) {
  .header_nav img {
    width: 91px;
    height: 37px;
  }
}


/* ****************** Contact Us Page ******************* */
.lower_details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
  margin-top: 10px;
  padding: 10px;

}

.contact_card {
  background-color: white;
  height: 100%;
  margin-top: 10px;
}

@media (min-width:571px) {
  .contact_card {
    margin-top: 10px;
  }
}


.title {

  font-weight: 700;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 20px;
  height: 40px;
}

.lower-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;

}

.contact_cards {
  margin-top: 20px;
  padding: 20px;
  background-color: #012e4d;
}

.others {
  font-weight: 500;

}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font: italic
}

.form input {
  border: none;
  outline: none;
  border-bottom: 2px solid black;
}

::placeholder {
  font-weight: 600;
  font-style: italic;
  font-size: 18px;
  color: #012e4d;
}

.form button {
  background: #012e4d;
  color: white;
  font-weight: 600;
  font-style: italic;
  font-size: 20px;
  outline: none;
  border: none;
}

#message {
  margin-top: 50px;
}

.contact_banner img {
  width: 100%;
}

.contact_cards img {
  width: 100%;
}

.form_and_map img {
  width: 100%;
}

.title {
  font-weight: 700;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 20px;
  height: 40px;
}


/* ************* Gallery CSS ********************* */
.flex-column {
  gap: 20px;
}

@media (max-width:575px) {
  .flex-column {
    gap: 5px;
  }
}

.tabs_gallery {
  margin-top: 15px;
  padding: 20px;
  display: grid;
  gap: 65px;
  grid-template-columns: auto auto auto;
  align-items: center;
  justify-items: center;
  justify-content: center;
  border: 2px solid #e7e8ea;

}

@media (max-width:575px) {
  .tabs_gallery {
    grid-template-columns: auto auto;

  }
}

.tabs_gallery div {
  margin: auto;
  width: 100%;
  padding: 15px;
  border: 2px solid #e7e8ea;
  border-radius: 9px;

}

.tabs_gallery img {
  margin: auto;
}

.tabs_gallery div h1 {
  font-size: 20px;
  text-align: center;
}

.flex-column {
  margin-top: 15px;
}

.gallery_banner_background img {
  width: 100%;
}

/* ************ Product Page ************ */
.singleProduct_banner {
  position: relative;
}

.singleProduct_banner img {
  width: 100%;
}

.singleProduct_title {
  position: absolute;
  color: #fff;
  font-size: 42px;
  top: 35%;
  left: 40%;
}

.backBanner_row {
  position: relative;
}

.backBanner_row div img {
  width: 100% !important;
  height: 100%;
}

.backBanner_title {
  position: absolute;
  top: 15%;
  left: 44%;
}

.carousel_row{
  background-image: url('./images/upper_banner.png');
  background-repeat: no-repeat;
  background-size: 100% 200px;
}

/* ***************** Not Found Page ******************* */
.not_foundimg {
  width: 100%;
  height: 100%;
}

.left_para {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 600;
  text-align: center;
  padding: 10px;
  border: 1px solid rgb(209, 97, 97);
}

/* **************** Product Info page media query **************** */
@media(max-width:375px){
  .singleProduct_title{
    font-size: 18px;
    top: 9%;
    left: 35%;
  }

  .carousel_row h2{
    font-size: 16px;
  }

  .carousel_imgs img{
    width: 35% !important;
    height: 45% !important;
  }
}

@media (min-width:376px) and (max-width:576px){
  .singleProduct_title{
    font-size: 27px;
    top: 25%;
    left: 36%;
  }

  .carousel_row h2{
    font-size: 26px;
    margin-left: 8%;
  }

  .carousel_imgs img{
    width: 44% !important;
    height: 54% !important;
  }
}

@media (min-width:576px) and (max-width:790px){
  .singleProduct_title{
    font-size: 35px;
    top: 29%;
    left: 37%;
  }

}